<div class="container">
    <button mat-raised-button color="accent" routerLink="/card">Home</button>
    <div class="container">
        <img src={{data.thumbnail}} alt="prodImage">
        <div class="headers">
            <p><strong>ID :</strong> {{productId}}</p>
            <p><strong>Title:</strong> {{data.title}}</p>
            <p><strong>Brand:</strong> {{data.brand}}</p>
            <p><strong>Category:</strong> {{data.category}}</p>
            <p><strong>Description:</strong> {{data.description}}</p>
            <p><strong>Rating:</strong> {{data.rating}}</p>
        </div>
        
    </div>
   
</div>
