<div class="footerBody">
    <div class="footer">
        <div class="rate-us">
            <h3>Contcat-Us</h3>
            <p>House No - 167, M G Road</p>
            <p>Opposite of State Bank</p>
            <p>New Delhi(INDIA), Pin - 490012</p>
            <p>Mob : 99999999</p>
            <p>Mail : Support@croma.com</p>
        </div>
        <ul class="random-links">
            <div class="random-links">
                <h3>Want to reach Us:</h3>
                <ul>
                    <li><a href="#"><span class="material-icons" matTooltip="Chat with Us">textsms</span></a></li>
                    <li><a href="#"><span class="material-icons" matTooltip="Download Our App">install_desktop</span></a></li>
                    <li><a href="#"><span class="material-icons" matTooltip="Visit Near Outlet">store</span></a></li>
                    <li><a href="#"><span class="material-icons" matTooltip="Create An Account">account_circle</span></a></li>
                    <li><a href="#"><span class="material-icons" matTooltip="Change Language">language</span></a></li>
                </ul>
            </div>            
        </ul>
    </div>
</div>