.footerBody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position:sticky;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
}

.comment-box {
    flex: 1  300px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.rate-us {
    flex: 1 1 300px;
    margin-top: 20px;
}


.random-links {
    flex: 1 1 300px;
    margin-top: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-links h3 {
    margin-bottom: 10px;
}

.random-links li {
    margin-bottom: 5px;
    margin-top: 5px;
}

.random-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center; 
}

.random-links a:hover {
    color: #4CAF50;
}
.comment-box{
    display: flex;
    flex-direction: column;
}
.comment-box button{
    width: 50%;
    margin-left: 150px;
}
.random-links li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
}


@media screen and (min-width: 768px) {
    .comment-box,
    .rate-us,
    .random-links {
        flex: 1 1 33.33%;
        margin-top: 0;
    }

    .comment-box {
        margin-right: 20px;
    }

    .rate-us {
        margin-left: 0 !important;
        text-align: left !important;
    }

    .random-links {
        align-items: flex-start;
    }

    .comment-box button {
        width: 100%;
        margin-left: 0;
    }
}
